<template>
    <lightning-quick-action-panel title="Quick Action Title">
        <c-om-datatable
        selectable
        resizable
        unique-field="Subject"
        columns={columnas}
        rows={casos}>
      </c-om-datatable>
      </lightning-quick-action-panel>
</template>