<template>
    <lightning-combobox
        name="TipoCaso"
        label="Motivo de solicitud"
        options={options}
        onchange={actualizarFormularioJs}></lightning-combobox>
    
    <template if:true={seleccionadoTipoCaso}>
        <lightning-record-edit-form 
            object-api-name={objectApiName}>
            <lightning-combobox
                name="Poliza__c"
                label="Póliza afectada"
                placeholder="Seleccione una póliza (si procede)"
                onchange={actualizarNumPolizaJs}
                options={polizas}>
            </lightning-combobox>

            <template for:each={fields} for:item="field">
                <lightning-input-field onchange={actualizarCaso} key={field.fieldPath} field-name={field.fieldPath} data-input={field.fieldPath} data-field={field.fieldPath}></lightning-input-field>
            </template>

            <div class="slds-var-m-top_medium">
                <lightning-button variant="brand" onclick={crearCaseJs} label="Crear incidencia">
                </lightning-button>
            </div>
        </lightning-record-edit-form>
    </template>
        <!-- <lightning-record-edit-form 
            object-api-name={objectApiName}>
            <lightning-combobox
                name="Poliza__c"
                label="Póliza afectada"
                placeholder="Seleccione una póliza (si procede)"
                onchange={actualizarNumPolizaJs}
                options={polizas}>
            </lightning-combobox>

            <template for:each={fields} for:item="field">
                <lightning-input-field onchange={actualizarCaso} key={field} field-name={field} data-input={field} data-field={field}></lightning-input-field>
            </template>

            <div class="slds-var-m-top_medium">
                <lightning-button variant="brand" onclick={crearCaseJs} label="Crear incidencia">
                </lightning-button>
            </div>
        </lightning-record-edit-form> -->
</template>