.THIS .logo-hammam {
    margin-left: 29px;
    margin-top: 29px;
    display: flex;
    justify-content: flex-start;
}

.THIS .main-container {
    margin-top: -12px;
}

.THIS .logo-club {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.THIS .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.THIS .user-menu-text {
    font-family: var(--lwc-fontFamilyHeader, Chap Light);
    color: white;
    text-decoration: none;
}

.THIS .logo-menu {
    cursor: pointer;
}

/* Desktop */

.THIS .icon-menu-desktop {
    display: none;
}

.THIS .menu-container-desktop {
    padding: 30px;
    display: flex;
    align-items: center;
    height: 100px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200;
}

.THIS .icon-menu {
    display: none;
}

.THIS .navbar-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.THIS .nav-items {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 .5625rem;
    font-family: var(--lwc-fontFamily, Antwerp);
    text-decoration: none;
}

.THIS .user-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 30px;
}

.THIS .navbar-menu-mobile {
    background-color: var(--marronHammam);
}

.THIS .user-name-text-desktop,
.THIS .user-rol-text-desktop {
    color: white;
    font-family: var(--lwc-fontFamilyHeader, Chap Light);
    font-size: 12px;
}

.THIS .user-icon-desktop {
    margin-right: -12px;
}

/* Mobile */

.THIS .menu-container-mobile {
    display: none;
    padding: 10px;
    height: 72px;
}

.THIS .icon-circle {
    margin-top: 7px;
}


/* User Menu */

.THIS .menu-perfil {
    position: absolute;
    right: 65px;
    top: 46px;
    line-height: 20px;
}

.THIS .menu-perfil a {
    font-family: var(--lwc-fontFamilyHeader, Chap Light);
    font-size: 12px;
    color: var(--marronHammam);
    text-decoration: none;
    background: white;
    padding: 13px;
    text-transform: uppercase;
}

.THIS .menu-perfil a:nth-child(1) {
    border-bottom: 1px solid var(--lightGrey);
    border-top: 1px solid var(--lightGrey);

}

.THIS .menu-perfil a:hover {
    background-color: rgb(245, 245, 245);
}

.THIS hr {
    margin: 10px 0;
    opacity: .3;
}

/* Mobile */

.THIS .user-main-container {
    position: absolute;
    top: 0;
    width: 100%;
}

.THIS .user-container-mobile {
    display: none;
    background-color: var(--lightGrey);
    padding: 10px;
    border-bottom: 1px solid var(--warmGrey);
    height: 72px;
}

.THIS .user-circle {
    margin: 0px;
}

.THIS .user-text {
    color: var(--marronHammam);
    font-family: var(--lwc-fontFamilyHeader, Chap Light);
    margin-left: 5px;
    font-size: 14px;
}

.THIS .user-detail-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.THIS .user-detail-menu img {
    width: 46px;
}

.THIS .user-name-text,
.THIS .user-rol-text {
    color: var(--marronHammam);
    font-family: var(--lwc-fontFamilyHeader, Chap Light);
    font-size: 14px;
}

.THIS .navbar-user-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 230px;
    left: -143px;
    top: 15px;
    text-align: center;
}

/* Media Query */
@media only screen and (max-width: 1800px) {
    .THIS .icon-menu-desktop {
        display: block;
    }

    .THIS .navbar-menu {
        display: none;
    }

    .THIS .user-menu {
        display: contents;
        justify-content: flex-end;
        position: absolute;
        right: 30px;
    }

    .THIS .menu-container-desktop {
        height: 100px;
    }

    .THIS .navbar-menu-mobile {
        display: flex;
        flex-direction: column;
        top: 12px;
        position: absolute;
        width: 100%;
        z-index: 100;
        padding-top: 100px;
        margin-top: -12px;
    }

    .THIS .nav-items {
        font-family: var(--lwc-fontFamilyHeader, Chap Light);
        color: white;
        border-bottom: 1px solid var(--warmGrey);
        font-size: 16px;
        text-transform: initial;
        padding: 14px 12px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
    }

    .THIS .nav-items:nth-child(1) {
        border-top: 1px solid var(--warmGrey);
    }

    .THIS .nav-items:hover {
        background-color: rgba(0, 0, 0, 0.24);
        text-decoration: none;
    }

    .THIS .menu-perfil {
        position: absolute;
        right: 95px;
        top: 76px;
        line-height: 20px;
    }

    /* Icon menÃº principal */
    .THIS .menu-toggle {
        height: 7px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        margin: 28px 30px 28px 0;
        width: 40px;
        left: 6px;
        padding: 22px 0 0 0;
      }
      .THIS .menu-toggle:hover {
        color: white;
      }
      .THIS .menu-toggle i,
      .THIS .menu-toggle i:after,
      .THIS .menu-toggle i:before {
        display: block;
        position: absolute;
        height: 2px;
        width: 35px;
        right: 0;
        background: white;
        border-radius: 2px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        margin-top: 9px;
      }
      .THIS .menu-toggle i:after,
      .THIS .menu-toggle i:before {
        content: '';
      }
      .THIS .menu-toggle i:after {
        top: -31px;
      }
      .THIS .menu-toggle i:before {
        top: -20px;
        background: white;
      }
      .THIS .menu-toggle i {
        top: 12px;
      }
      .THIS .menu-toggle i.linea {
        opacity: 1;
        background: white;
      }
      .THIS .menu-toggle i.linea:after {
        opacity: 0;
        background: white;
        transition: none;
    }
    .THIS .menu-toggle i.linea:before {
        opacity: 0;
        background: white;
        transition: none;
      }
      .THIS .menu-toggle.open i.linea {
        top: 12px;
        opacity: 0;
    }
    .THIS .menu-toggle.open i {
        top: 12px;
        background: transparent;
        transition: none;
    }
    .THIS .menu-toggle.open i:after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -22px;
        opacity: 1 !important;
    }
    .THIS .menu-toggle.open i:before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -22px;
        opacity: 1;
      }

}

@media only screen and (max-width: 480px) {

    .THIS .logo-hammam img {
        max-width: 40vw;
    }

    .THIS .main-container {
        position: absolute;
        top: 0;
        width: 100%;
        background: transparent;
    }

    .THIS .icon-menu {
        display: block;
        margin-left: -15px;
    }

    .THIS .menu-container-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px 10px;
        z-index: 200;
        position: relative;
    }

    .THIS .menu-container-desktop {
        display: none;
    }

    .THIS .menu-perfil {
        position: absolute;
        right: 95px;
        top: -3px;
    }

    .THIS .nav-items {
        font-family: var(--lwc-fontFamilyHeader, Chap Light);
        border-bottom: 1px solid var(--warmGrey);
        color: white;
        font-size: 16px;
        text-transform: initial;
        padding: 14px 12px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: left;
    }

    .THIS .nav-items:nth-child(1) {
        margin-top: 77px;
        border-top: 1px solid var(--warmGrey);
    }

    .THIS .nav-items:hover {
        background-color: rgba(0, 0, 0, 0.24);
        text-decoration: none;
    }

    .THIS .navbar-menu-mobile {
        display: flex;
        flex-direction: column;
        padding-top: 5px;
    }

    .THIS .user-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        margin-right: -10px;
        margin-top: 12px;
    }

    .THIS .logo-club {
        margin-left: -10px;
    }

    .THIS .logo-menu img {
        max-width: 40vw;
    }

    /* User Menu */

    .THIS .user-container-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .THIS .open-menu {
        display: block;
        left: 13px;
        z-index: 200;
        position: absolute;
        margin-top: -12px;
    }

    .THIS .user-open-text {
        position: absolute;
        left: 75px;
        display: flex;
        flex-direction: column;
        margin-top: -10px;
        width: 77%;
    }

    .THIS .close-icon-user {
        height: 34px;
        position: absolute;
        right: 10px;
    }

    .THIS .user-menu-open {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-right: -40px;
        margin-top: 12px;
        width: 100%;
    }

    /* .THIS .nav-user-items {
        font-family: var(--lwc-fontFamilyHeader, Chap);;
        font-weight: 100;
        color: var(--marronHammam);
        border-bottom: 1px solid var(--warmGrey);
        font-size: 16px;
        padding: 14px 12px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .THIS .nav-user-items:hover {
        background-color: rgba(0, 0, 0, 0.062);
        text-decoration: none;
    } */

    .THIS .navbar-user-mobile {
        width: 100vw;
        right: -94px;
        left: initial;
        background-color: white;
        padding-top: 60px;
    }

    .THIS .user-menu-text {
        font-size: 10px;
    }
    
    .THIS .user-menu-text-open {
        font-size: 16px;
        color: var(--darkGrey);
        text-decoration: none;
        font-family: var(--lwc-fontFamilyHeader, Chap Light);
    }
    
    .THIS .level-menu-text-open {
        font-size: 10px;
        color: var(--darkGrey);
        text-decoration: none;
        font-family: var(--lwc-fontFamilyHeader, Chap Light);
    }

    /* Icon menÃº principal */

    .THIS .menu-toggle {
        height: 7px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        margin: 28px 0 0 0;
        width: 40px;
        left: 6px;
        padding: 22px 0 0 0;
      }
      .THIS .menu-toggle:hover {
        color: white;
      }
      .THIS .menu-toggle i,
      .THIS .menu-toggle i:after,
      .THIS .menu-toggle i:before {
        display: block;
        position: absolute;
        height: 2px;
        width: 35px;
        right: 0;
        background: white;
        border-radius: 2px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        margin-top: 9px;
      }
      .THIS .menu-toggle i:after,
      .THIS .menu-toggle i:before {
        content: '';
      }
      .THIS .menu-toggle i:after {
        top: -31px;
      }
      .THIS .menu-toggle i:before {
        top: -20px;
        background: white;
      }
      .THIS .menu-toggle i {
        top: 12px;
      }
      .THIS .menu-toggle i.linea {
        opacity: 1;
        background: white;
      }
      .THIS .menu-toggle i.linea:after {
        opacity: 0;
        background: white;
        transition: none;
    }
    .THIS .menu-toggle i.linea:before {
        opacity: 0;
        background: white;
        transition: none;
      }
      .THIS .menu-toggle.open i.linea {
        top: 12px;
        opacity: 0;
    }
    .THIS .menu-toggle.open i {
        top: 12px;
        background: transparent;
        transition: none;
    }
    .THIS .menu-toggle.open i:after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -22px;
        opacity: 1 !important;
    }
    .THIS .menu-toggle.open i:before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -22px;
        opacity: 1;
      }
      
      
      
}