<template>
    <template if:false={hayCasos}>
        <h1>No tienes ningún caso.</h1>
    </template>

    <template if:true={hayCasos}>
        <h1>Tus casos actuales</h1>

        <c-om-datatable
            selectable
            resizable
            unique-field="Subject"
            columns={columnas}
            rows={casos}
            >

        </c-om-datatable>
    </template>
</template>