<template>
    <img src="https://i.ibb.co/F3ZGFBD/logo.png">
    <template for:each={camposFormulario} for:item="campo">
            <template if:true={campo.required}>
                <lightning-input key={campo.datainput} label={campo.label} onchange={actualizarValorJs} data-input={campo.datainput} required></lightning-input>
            </template>
            <template if:false={campo.required}>
                <lightning-input label={campo.label} key={campo.placeholder} onchange={actualizarValorJs} data-input={campo.datainput}></lightning-input>
            </template>
    </template>
    <lightning-button class='boton-registro' label='Registrarse' title='Registrarse' onclick={registroJs}></lightning-button>
</template>